.main
  .whole-area
    .header
      .logo-signup
        note
    .register-container-whole
      .register-container
        .register__title-container
          %p.register__title
            noteに登録する
        .space-reset
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            .space-bottom-2
              = f.label :ニックネーム（登録後に変更可能）
              %em
              %br/
              = f.text_field :nickname, autofocus: true, maxlength: "6",placeholder:"例：ノート君（任意）", class:"user_nickname"

            .space-bottom-2
              = f.label :メールアドレス
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email",class:"user_email",placeholder:"例：mail@note.mu"
            .space-bottom-2
              = f.label :パスワード
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} characters minimum)
              %br/
              = f.password_field :password, autocomplete: "off",class:"user_password",placeholder:"例：6文字以上の半角英数"
            / .field
            /   = f.label :password_confirmation
            /   %br/
            /   = f.password_field :password_confirmation, autocomplete: "off"
            .txt-center.space-t-1h.space-b-1h
              %input.ng-pristine.ng-untouched.ng-valid{"delayed-validation" => "true", :name => "terms", "ng-model" => "terms", :tabindex => "1", :type => "checkbox",:class => "checkbox"}/
              .txt-xsmall
                %a.link-green
                  利用規約
                  .agreement
                    に同意する
            .actions
              = f.submit "登録する(無料)",class:"register-signup"
        .signup-with-oauth
          %p.register__sub-title
            ソーシャルアカウントで登録
        %ul.u-flexboxBasic
          %li.twitter-signup
            .icon-small-icon-small-twitter
              Twitter
          %li.facebook-signup
            .icon-small-icon-small-facebook
              Facebook
        .register__login
          %p.txt-center.space-b-1h
            %a.link-green
              = render "devise/shared/links"
          %p.txt-center
            cakesアカウントをお持ちの方は
            %a.link-green
              こちら


