= render "menuheader"
-if @user.photoimage.present?
  = image_tag @user.photoimage ,class: 'photoimagesize'
.mainmenu
  .renewal-p-creator
    .renewal-p-creator__container
      .creator-profile
        .renewal-p-creator__container
          .renewal-p-creator__content
            .renewal-p-creator__contentInner
              %img#hoge.menu2{:alt => "Menu2", :src => "/assets/menu2-93ca8c76ad38f77843d68332772b727c3a7ad2384081eb49bc3180fbcd828f51.png"}
              .renewal-p-creator__actionPopover
                .renewal-p-creator__actionPopover__inner

              .renewal-c-popover.renewal-c-popover--action
              .renewal-p-creator__profile
                .renewal-p-creator__avatar
                  -if @user.usericon.present?
                    = image_tag @user.usericon,class:'defaulticon'
                  -else
                    = image_tag "smile.png",class:'smileicon'
                .renewal-p-creator__name
                  = @user.nickname
                .renewal-p-creator__action
              .renewal-p-creator__biography
                = @user.bio
              .renewal-p-creator__status
                .renewal-p-creator__follow
                  .renewal-p-creator__followItem
                    %a.renewal-p-creator__followLink
                      %span.renewal-p-creator__followCount
                        52
                      %span.renewal-p-creator__followLabel
                        フォロー
                  .renewal-p-creator__followItem
                    %a.renewal-p-creator__followLink
                      %span.renewal-p-creator__followCount
                        0
                      %span.renewal-p-creator__followLabel
                        フォロワー
                .renewal-p-creator__snsIcon
        .ng-hide
    .creator-contents
      .creator-menus
        .renewal-p-customNav
          .renewal-p-customNav__inner
            .renewal-p-customNav__nav
              %ul.tabs.home-tab-menu
                %li
                  %a.home-tab{:href => "#view1"} ホーム
                %li
                  %a.magazine-tab{:href => "#view2"} マガジン

            .renewal-p-customNav__search
              %a.archive アーカイブ
      #view1.tab-content
        = render "tabhome"
      #view2.tab-content
        = render "tabmagazine"
