= form_for @user do |f|
  .renewal-p-creator.editMode
    .renewal-p-creator__container2
      .renewal-p-creator__header
        -if @user.photoimage.present?
          = f.label :photoimage, class: "renewal-p-creator__headerImg" do
            = image_tag @user.photoimage ,class: 'photoimagesize'
            = f.file_field :photoimage, class: "renewal-p-creator__headerOverlayrenewal",style: "display:none"
        -else
          = f.label :photoimage, class: "renewal-p-creator__headerImg" do
            = f.file_field :photoimage, class: "renewal-p-creator__headerOverlayrenewal",style: "display:none"
      .border
        .border2
          .renewal-p-creator__headerCamera
            .c-icon--camera
              = image_tag 'camera.png',class:'cameco'
          .renewal-p-creator__headerLabel
            ヘッダー画像を変更
          .renewal-p-creator__headerDelete
            .c-icon--close
              = image_tag 'close.png',class:'close'
      .renewal-p-creator__form
        .renewal-p-creator__content
          .renewal-p-creator__contentInner
            = f.label :usericon, class: "renewal-p-creator__photo" do
              -if @user.usericon.present?
                = image_tag @user.usericon,class:'defaulticon'
                = f.file_field :usericon, style: "display:none"
              -else
                = image_tag "defaulticon.png",class:'defaulticon'
                = f.file_field :usericon, style: "display:none"

            .renewal-p-creator__nickname
              / %input{class: "usagi", name: "name",type: "text",placeholder: "ニックネーム"}
              = f.text_field :nickname, class: "usagi", placeholder: 'ニックネーム', autcomplete: 'off'
            .renewal-p-creator__intro
              = f.text_area :bio, class: "introduction", placeholder: 'あなたの自己紹介を書きましょう (140文字以内)', autcomplete: 'off'
            .renewal-p-creator__editAction
              .renewal-p-creator__cancelButton
                .c-button.c-button--type_basic
                  .c-button__label
                    キャンセル
              .renewal-p-creator__hozonButton
                .c-button.c-button--type_basic
                  = f.submit '保存', class: 'c-button__label'


/ = f.label for: "photoimage", class: "renewal-p-creator__headerImg" do
/   = f.text_field :usericon, class: "renewal-p-creator__headerOverlayrenewal",style: "display:none", type: "file", id:"photoimage"
