.feeds
  .feed
    .renewal-l-main
      .renewal-c-card
        .renewal-c-card__head
          = render partial: "userinfoIcons", locals: {article: article}

        .renewal-c-card__body
          .renewal-p-cardItem
            .renewal-p-cardItem__eyecatch
              .renewal-p-cardItem__eyecatch.img
                = image_tag article.image
            %h3.renewal-p-cardItem__title
              = article.title
            %p.renewal-p-cardItem__description
              = article.text
            .renewal-p-cardItem__more
              = link_to article_path(article.id), class: 'motto-miru' do
                もっと見る


        .renewal-c-card__foot
          .renewal-p-action
            %ul
              %li
                %i.fa.fa-heart-o.fa-1x
                %i.fa.fa-share.fa-1x
                %i.fa.fa-plus.fa-1x
                %i.fa.fa-ellipsis-h
                %i.renewal-p-action__comment
                  = link_to article_path(article.id), class: 'comment-suru' do
                    コメントする

/ = link_to 'article.titleのIDヲココニイレタイ', "/articles/#{params[:id]}/", method: :get

