.header-container
  .renewal-l-container
    .renewal-l-header
      .renewal-l-header__inner
        .renewal-l-header__global
          .renewal-l-header__logo
            = link_to articles_path do
              = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/logo-b84a1f9687168286cb1ca588b5aa4d761cd3f46e79d4ac36f0d331dfb1ed21ba.svg"
          .renewal-l-header__right
            %ul.renewal-p-buttonSet
              %li.renewal-p-buttonSet__item
                .p-searchForm--header
                  = image_tag 'megane.png',class:"icon-30"
                  .angucomplete-holder
                    %input{class: "searchuser",placeholder:'キーワードや作者名で検索',type: "text",id: "usersearch"}
                    .angucomplete-dropdownA
                      .angucomplete-row-angucomplete-selected-row
                        『aaa」で全体を検索
                    .angucomplete-dropdownB
                      .angucomplete-row-angucomplete-selected-row
                        秋野結湖
                      .user-search
                  %i.fa.fa-search
              %li.renewal-p-buttonSet__item
                %i.fa.fa-bell
              %li.renewal-p-buttonSet__item--mlL
                .c-avatar-c-avatar--boxShadow
                  .c-avatar--small
                    %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6872559/profile_d227b8ba49f78d2420ed6f945630fce3.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6872559/profile_d227b8ba49f78d2420ed6f945630fce3.jpg"}/
                    = render "mypage-bar"
              %li.renewal-c-button--navBarPostNote
                .renewal-c-popover--postNote
                  %ul.renewal-p-postNoteFromNavBarList
                    %li.wani
                      = link_to new_article_path(current_user) do
                        = image_tag 'pencil.png',class:"aab"
                      .renewal-p-icon--text
                        テキスト
                    %li.renewal-p-postNoteFromNavBarList__item
                      = image_tag 'moutain.png',class:"aaa"
                      .renewal-p-icon--textnote
                        画像
                    %li.renewal-p-postNoteFromNavBarList__item
                      = image_tag 'tweet.png',class:"aaa"
                      .renewal-p-icon--textnote
                        つぶやき
                    %li.renewal-p-postNoteFromNavBarList__item
                      = image_tag 'headset.png',class:"aaa"
                      .renewal-p-icon--textnote
                        音声
                    %li.renewal-p-postNoteFromNavBarList__item-last
                      = image_tag 'movie.png',class:"aaa"
                      .renewal-p-icon--textnote
                        動画
                .renewal-p-icon--postNote
                  %i.fa.fa-edit  ノートを投稿

        .l-header__nav
          .p-globalNavigation
            .p-globalNavigation__menu
              .p-globalNavigation__item
                .p-globalNavigation__link-home
                  ホーム
              .p-globalNavigation__item
                .p-globalNavigation__link
                  おすすめ
              .p-globalNavigation__item
                .p-globalNavigation__link
                  公式マガジン
              .p-globalNavigation__item
                .p-globalNavigation__link
                  募集中
              .p-globalNavigation__item
                .p-globalNavigation__link
                  ピックアップ
              .p-globalNavigation__item
                .p-globalNavigation__link
                  注目カテゴリ
              .p-globalNavigation__item
                .p-globalNavigation__link
                  人気タグ
              .p-globalNavigation__item.p-globalNavigation__item--help
                .p-globalNavigation__link--help
                  %i.fa.fa-question-circle

            .p-globalNavigation__submenu
              .p-dropNavigation
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    マンガ
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    コラム
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    小説
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    写真
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    サウンド
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    ビジネス
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    ライフスタイル
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    テクノロジー
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    エンタメ

