.header-container
  .renewal-l-container
    .renewal-l-header
      .renewal-l-header__inner
        .renewal-l-header__global
          .renewal-l-header__logo
            = link_to articles_path do
              = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/logo-b84a1f9687168286cb1ca588b5aa4d761cd3f46e79d4ac36f0d331dfb1ed21ba.svg"
          .renewal-l-header__right
            %ul.renewal-p-buttonSet
              %li.renewal-p-buttonSet__item
                .p-searchForm--header
                  = image_tag 'megane.png',class:"icon-30"
                  .angucomplete-holder
                    %input{class: "searchuser",placeholder:'キーワードや作者名で検索',type: "text",id: "usersearch"}
                    .angucomplete-dropdown
                  = image_tag 'search.png',class: "search-10"
              %li.renewal-p-buttonSet__item
                = image_tag 'bell.png',class: "bell-10"
              %li.renewal-p-buttonSet__item--mlL
                .c-avatar-c-avatar--boxShadow
                  .c-avatar--small
                    -if @user.usericon.present?
                      = image_tag @user.usericon,class:'usericon-50'
                    -else
                      = image_tag "smile.png",class:'smileicon-10'
                    = render "mypage-bar"
              %li.renewal-c-button--navBarPostNote
                .renewal-c-popover--postNote
                  %ul.renewal-p-postNoteFromNavBarList
                    %li.wani
                      = link_to new_article_path(current_user) do
                        = image_tag 'pencil.png',class:"aab"
                      .renewal-p-icon--text
                        テキスト
                    %li.renewal-p-postNoteFromNavBarList__item
                      = image_tag 'moutain.png',class:"aaa"
                      .renewal-p-icon--textnote
                        画像
                    %li.renewal-p-postNoteFromNavBarList__item
                      = image_tag 'tweet.png',class:"aaa"
                      .renewal-p-icon--textnote
                        つぶやき
                    %li.renewal-p-postNoteFromNavBarList__item
                      = image_tag 'headset.png',class:"aaa"
                      .renewal-p-icon--textnote
                        音声
                    %li.renewal-p-postNoteFromNavBarList__item-last
                      = image_tag 'movie.png',class:"aaa"
                      .renewal-p-icon--textnote
                        動画
                .renewal-p-icon--postNote
                  %i.fa.fa-edit  ノートを投稿
