.header-container
  .renewal-l-container
    .renewal-l-header
      .renewal-l-header__inner
        .renewal-l-header__global
          .renewal-l-header__logo
            = link_to articles_path do
              = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/logo-b84a1f9687168286cb1ca588b5aa4d761cd3f46e79d4ac36f0d331dfb1ed21ba.svg"
          .renewal-l-header__right
            %ul.renewal-p-buttonSet
              %li.renewal-p-buttonSet__item
                .p-searchForm--header
                  .angucomplete-holder
                    %input
                  %i.fa.fa-search
              %li.renewal-p-buttonSet__item
                %i.fa.fa-bell
              %li.renewal-p-buttonSet__item--mlL
                .c-avatar-c-avatar--boxShadow
                  .c-avatar--small
                    = link_to menu_index_path do
                      -if @user.usericon.present?
                        = image_tag @user.usericon,class:'usericon-10'
                      -else
                        = image_tag "smile.png",class:'smileicon-10'
              %li.renewal-c-button--navBarPostNote
                .renewal-c-popover--postNote
                  .renewal-p-postNoteFromNavBarList
                    .renewal-p-postNoteFromNavBarList__item
                    .renewal-p-postNoteFromNavBarList__item
                    .renewal-p-postNoteFromNavBarList__item
                .renewal-p-icon--postNote
                  = link_to new_article_path(current_user) do
                    %i.fa.fa-edit  ノートを投稿

        .l-header__nav
          .p-globalNavigation
            .p-globalNavigation__menu
              .p-globalNavigation__item
                .p-globalNavigation__link-home
                  ホーム
              .p-globalNavigation__item
                .p-globalNavigation__link
                  おすすめ
              .p-globalNavigation__item
                .p-globalNavigation__link
                  公式マガジン
              .p-globalNavigation__item
                .p-globalNavigation__link
                  募集中
              .p-globalNavigation__item
                .p-globalNavigation__link
                  ピックアップ
              .p-globalNavigation__item
                .p-globalNavigation__link
                  注目カテゴリ
              .p-globalNavigation__item
                .p-globalNavigation__link
                  人気タグ
              .p-globalNavigation__item.p-globalNavigation__item--help
                .p-globalNavigation__link--help
                  %i.fa.fa-question-circle

            .p-globalNavigation__submenu
              .p-dropNavigation
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    マンガ
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    コラム
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    小説
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    写真
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    サウンド
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    ビジネス
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    ライフスタイル
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    テクノロジー
                .p-dropNavigation__item
                  .p-dropNavigation__link
                    エンタメ
