%ul
  %li
    .c-avator
      .image-class
        -if @user.usericon.present?
          = image_tag @user.usericon,class:'usericon-10'
        -else
          = image_tag "smile.png",class:'smileicon-10'
  %li
    %p.renewal-c-card__userName
      = article.user.nickname
    %p.renewal-c-card__date
      = article[:created_at].strftime("%Y-%m-%d%H:%M")
      %p-articleNoteInfo__status
        = link_to "削除", article_path(article),method: :delete, class: 'delete'

