= form_for @article do |f|
  .main
    .header-new
      .header-new__inner
        %h2.logo
          note
        .account-menu
          %ul.inline-wrap
            %li.inline-child
              .btn-small-left
                = f.submit '公開設定', class: 'sendbutton'

            %li.inline-child
              .btn-small-right
                = link_to articles_path do
                  キャンセル

    .editor-screen
      .p-editorTips
        .p-editorTips__btn
          .c-button__icon
          %i.fa.fa-lightbulb.fa-1x
          .c-button__label
          %span.c-button__label
            ノートヒント
      .note-container
        .fude-content
          .note
            .iconxlarge
              =f.label :image, class: "icon" do
                = fa_icon 'picture-o', class: 'icon'
                //i.fa.fa-image.fa-2xこの画像に置き換えたい
                = f.file_field :image, class: 'imageform', style: 'display:none'
            .note-name
              %h1
                = f.text_field :title, class: "titleform", placeholder: 'ノートタイトル'
            .note-body
              .body-wrapper
                %OeiGn
                = f.text_field :text, class: "contentform", placeholder: 'コメント'
  .embed-toolbar
    %ul.embed-toolbar-buttons
      %li{:style => "display: list-item;"}
        %button#embed-toolbar-open.button-circle{:type =>"button"}
          %i.renewal-p-icon--editorAdd
      %li
        %button#embed-toolbar-open.button-circle{:type =>"button"}
          %i.renewal-p-icon--editorAdd


