= form_for @article do |f|
  .main
    .header-new
      .header-new__inner
        %h2.logo
          note
        .account-menu
          %ul.inline-wrap
            %li.inline-child
              .btn-small-left
                = f.submit '公開設定', class: 'sendbutton'

            %li.inline-child
              .btn-small-right
                = link_to articles_path do
                  キャンセル

    .editor-screen
      .p-editorTips
        .p-editorTips__btn
          .c-button__icon
          %i.fa.fa-lightbulb.fa-1x
          .c-button__label
          %span.c-button__label
            ノートヒント
      .note-container
        .fude-content
          .note
            .iconxlarge
              = image_tag 'addpicture.png',class:"picture-30"
              .renewal-c-popover-renewal-c-popover--selectEyecatch
                %ul
                  %li.new-popover
                    .galally
                      .renewal-p-icon--stockPhoto
                        = image_tag 'imagesmall.png',class:"imagesmall",align:"center"
                        みんなのフォトギャラリー(β)から画像を挿入
                  %li.new-popunder
                    .tes
                      .renewal-p-icon--eyecatchUpload
                      =f.label :image, class: "icon" do
                        = f.file_field :image, class: 'imageform', style: 'display:none'
                        画像をアップロード




            .note-name
              %h1
                = f.text_field :title, class: "titleform", placeholder: 'ノートタイトル'
            .note-body
              .body-wrapper
                %OeiGn
                = f.text_area :text, class: "contentform", placeholder: 'ノート本文',autocomplete: 'off'
  .toolbar-buttons
    %ul.toolbutton
      %li.toolbutton_plus
        = image_tag 'plus.png' ,class: "plus_button"



