= render "header_top"
= form_for([@article, @comment]) do |f|
  .main_contents
    .note-container.space--under-header
      .note-content
        .textnote
          .note-cover-img
            = image_tag @article.image
          .note-title
            %h1.editable.title-wrapper
              = @article.title
          .note-header
            .p-articleNoteInfo.note-user-name
              .p-articleNoteInfo__user
                = render partial: "userinfoIcon", locals: {article: @article}
              .p-articleNoteInfo__edit
                - if user_signed_in? && current_user.id == @article.user_id
                  = link_to '編集', "/articles/#{params[:id]}/edit", method: :get, class: 'edit'

          .note-body
            .body-wrapper
              %p.note-body
                = @article.text

        .p-supportFunding
          %p.p-supportFunding__heading
            この記事が気に入ったら、サポートをしてみませんか？ 気軽にクリエイターを支援できます。
          .p-supportFunding__body
            .p-supportFunding__contents
              .p-supportFunding__button
                .u-alignCenter
                  .renewal-c-button--primaryMedium
                    .u-flexboxCenter
                      %i.renewal-p-icon--present
                        サポートする
        .renewal-c-article__action
          .renewal-p-action
            %ul
              %li
                %i.fa.fa-heart-o.fa-1x
                %i.fa.fa-plus.fa-1x



    .p-comments
      .p-comments__container
        .p-comments__title
          コメント
          = render partial: 'comment', collection: @comments
        .p-comments__add
          .p-comments__input
            = @article.user.nickname
            .p-comments__inputAvatar
              .c-avatar--small
                .c-avatar__img
                  %img.c-avatar__img{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png", :src => "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png", :style => "", :title => ""}/
            .p-comments__inputMessage
              = f.text_field :text, class: "commentform", placeholder: 'comment'
            .p-comments__inputAction
              .p-comments__inputButton
                .c-button--size_small
                  =f.submit '送信' ,class: 'submit-comment'




    %aside
      .p-related
        %h2.p-related__title
          こちらもおすすめ
        .p-related__container
          .p-related__item
            .p-note--small
              .p-note__eyecatch
                .c-eyecatch
              %h3.p-note__title
                欲望まみれの人間が「誰かのために」と思えるようになる...
              .p-note__status
                .c-noteStatus__like
                  %i.fa.fa-heart-o.fa-1x
                .c-noteStatus__comment
                  %i.fa.fa-heart-o.fa-1x
              .p-note__footer
                .c-authorInfo
                  .c-authorInfo__avatar
                    %img.c-avatar__img{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/2299972/profile_505a702d38afcb5ca29ea8084f2efd76.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/2299972/profile_505a702d38afcb5ca29ea8084f2efd76.jpg", :style => "", :title => ""}/
                  .c-authorInfo__body
                    .c-authorInfo__name
                      立花実咲｜Misaki Tachibana
                .p-note__actions

          .p-related__item
            .p-note--small
              .p-note__eyecatch
                .c-eyecatch
              %h3.p-note__title
                欲望まみれの人間が「誰かのために」と思えるようになる...
              .p-note__status
                .c-noteStatus__like
                  %i.fa.fa-heart-o.fa-1x
                .c-noteStatus__comment
                  %i.fa.fa-heart-o.fa-1x
              .p-note__footer
                .c-authorInfo
                  .c-authorInfo__avatar
                    %img.c-avatar__img{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/2299972/profile_505a702d38afcb5ca29ea8084f2efd76.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/2299972/profile_505a702d38afcb5ca29ea8084f2efd76.jpg", :style => "", :title => ""}/
                  .c-authorInfo__body
                    .c-authorInfo__name
                      立花実咲｜Misaki Tachibana
                .p-note__actions

          .p-related__item
            .p-note--small
              .p-note__eyecatch
                .c-eyecatch
              %h3.p-note__title
                欲望まみれの人間が「誰かのために」と思えるようになる...
              .p-note__status
                .c-noteStatus__like
                  %i.fa.fa-heart-o.fa-1x
                .c-noteStatus__comment
                  %i.fa.fa-heart-o.fa-1x
              .p-note__footer
                .c-authorInfo
                  .c-authorInfo__avatar
                    %img.c-avatar__img{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/2299972/profile_505a702d38afcb5ca29ea8084f2efd76.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/2299972/profile_505a702d38afcb5ca29ea8084f2efd76.jpg", :style => "", :title => ""}/
                  .c-authorInfo__body
                    .c-authorInfo__name
                      立花実咲｜Misaki Tachibana
                .p-note__actions

          .p-related__item
            .p-note--small
              .p-note__eyecatch
                .c-eyecatch
              %h3.p-note__title
                欲望まみれの人間が「誰かのために」と思えるようになる...
              .p-note__status
                .c-noteStatus__like
                  %i.fa.fa-heart-o.fa-1x
                .c-noteStatus__comment
                  %i.fa.fa-heart-o.fa-1x
              .p-note__footer
                .c-authorInfo
                  .c-authorInfo__avatar
                    %img.c-avatar__img{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/2299972/profile_505a702d38afcb5ca29ea8084f2efd76.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/2299972/profile_505a702d38afcb5ca29ea8084f2efd76.jpg", :style => "", :title => ""}/
                  .c-authorInfo__body
                    .c-authorInfo__name
                      立花実咲｜Misaki Tachibana
                .p-note__actions


  .footer-article
    %ul.create_page
      %li
        %a.others
          noteプレミアム
      %li
        %a.others
          クリエイターの方へ
      %li
        %a.others
          よくある質問
      %li
        %a.others
          使い方
      %li
        %a.others
          ノート
      %li
        %a.others
          マガジン
      %li
        %a.others
          ユーザー
      %li
        %a.others
          ハッシュタグ
      %li
        %a.others
          プライバシー
      %li
        %a.others
          ご利用規約
      %li
        %a.others
          特商法表記
      %li
        %a.others
          クリエイターへのお問合せ
      %li
        %a.kaizen
          noteカイゼン目安箱
      %li
        %a.recommendation
          クリエイターの推薦


