- if current_user && article.like_user(current_user.id)
  = link_to article_like_path(article.like_user(current_user.id), article_id: article.id), method: :delete, id: "like-buttons", remote: true do
    .ui.labeled.button{:tabindex => "0"}
      .ui.red.button
        %i.heart.icon
        = image_tag 'redheart.png',class:"heart-10"
      %a.ui.basic.red.left.pointing.label
        %span
          = article.likes.count
- else
  = link_to article_likes_path(article), method: :post, id: "like-buttons", remote: true do
    .ui.labeled.button{:tabindex => "0"}
      .ui.button
        %i.heart.icon
        = image_tag 'heart.png',class:"heart-10"
      %a.ui.basic.gray.left.pointing.label
        %span
          = article.likes.count
